.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
}

.content {
  padding: 24px;
}
