:host {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'sidenav sidenav content content content content content content content content content content'
    'sidenav sidenav content content content content content content content content content content';
}

.sidenav {
  grid-area: sidenav;
  padding: 20px 5px;
  background-color: rgb(240, 240, 240);
}

.content {
  grid-area: content;
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgb(74, 74, 74);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  & li.active {
    background-color: rgb(191, 191, 191);
    cursor: pointer;
  }
}
