<div class="mb-10">
  <div
    class="border border-solid border-gray-300 rounded-md relative pt-[24px] pr-[10px] pb-[8px] pl-[10px]"
    [class]="{
      'border-red-500': control.invalid && control.touched,
      'bg-gray-100': control.disabled,
    }"
  >
    <label
      class="absolute top-[4px]"
      [class]="{
        'text-red-500': control.invalid && control.touched,
        'bg-gray-100': control.disabled,
      }"
      [for]="name()"
    >
      {{ label() ?? 'DEFINE_LABEL' }}
    </label>

    <input
      type="date"
      [class]="{
        'outline-none': true,
        'placeholder:text-red-500': control.invalid && control.touched,
      }"
      [placeholder]="placeholder() ?? 'DEFINE_PLACEHOLDER'"
      [id]="name()"
      [value]="value"
      [disabled]="control.disabled"
      [readonly]="readonly()"
      [attr.aria-invalid]="control.invalid"
      (input)="updateValue($event)"
      (blur)="onBlur()"
    />
  </div>

  @if (control.invalid && control.touched && control.errors) {
    <div class="mt-[4px] text-xs">
      @for (error of control.errors | keyvalue; track $index) {
        <span class="text-red-500">{{ errorMessages()[error.key] }}</span>
      }
    </div>
  }
</div>
