<form class="form">
  <div class="form-field">
    <span class="form-field-title">Material</span>

    <mat-form-field>
      <mat-label>Address</mat-label>

      <input type="text" placeholder="Input address..." matInput [formControl]="addressControlMaterial" [matAutocomplete]="auto" />

      <mat-autocomplete [displayWith]="displayFn" #auto>
        @for (option of options(); track option) {
          <mat-option [value]="option">{{ option.value }}</mat-option>
        }
      </mat-autocomplete>

      @if (addressControlMaterial.hasError('invalidAddress')) {
        <mat-error>Вам необходимо выбрать адрес из предлагаемого списка</mat-error>
      }
    </mat-form-field>

    <button matButton (click)="$event.preventDefault(); updateControlValue()">update control value</button>
  </div>

  <div class="form-field">
    <span class="form-field-title">Custom</span>
  </div>
</form>
