.label {
  padding: 6px;
  margin-bottom: 6px;
}

.array {
  display: flex;
  flex-wrap: wrap;

  padding-left: 12px;

  &-item {
    display: flex;
    flex-wrap: wrap;

    padding-left: 12px;
  }
}
