input {
  margin: 0;
  padding: 0px;
  border: none;
  outline: none;
}

.input-field {
  min-width: 180px;
}

.input-field-main {
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  gap: 4px;
}
