:host {
  position: relative;
}

.ui-select {
  border: 1px solid gray;
  padding: 16px 12px;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__value {
    color: #333;
  }

  &__arrow {
    font-size: 10px;
  }
}

.ui-select__dropdown {
  position: absolute;
  margin-top: 4px;
  padding: 4px 0;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  z-index: 1000;
}

.ui-select__option {
  padding: 16px 12px;
  cursor: pointer;

  &:hover {
    background: #eee;
  }

  &.selected {
    background: #ddd;
  }
}

:host.ng-invalid.ng-touched .ui-select {
  border-color: red;
}

:host.ng-invalid.ng-touched .ui-select__value {
  color: red;
}

.input-field-errors {
  margin-top: 4px;
  font-size: 12px;
}

:host.ui-disabled .ui-select {
  background-color: rgb(239, 239, 239);
}
