<div>
  <div class="label">{{ config().label }}</div>

  <div class="array">
    @for (control of controls(); track $index; let index = $index) {
      <div class="array-item">
        @for (fieldSchema of fieldSchema(); track $index) {
          @let currentControl = control.controls[fieldSchema.name];

          <app-form-field
            [control]="currentControl"
            [customFields]="customFields()"
            [fieldName]="fieldSchema.name"
            [fieldSchema]="fieldSchema"
            [formErrors]="formErrors()"
            [formModel]="formModel()"
          />
        }

        <button class="remove-button" matIconButton (click)="$event.stopPropagation(); $event.preventDefault(); removeItem(index)">
          remove-icon
        </button>
      </div>
    }
  </div>

  <button matIconButton (click)="$event.stopPropagation(); $event.preventDefault(); addItem()">add-icon</button>
</div>
