@let formSchema = schema();

@for (schema of formSchema.schemas(); track schema.controlName) {
  @if (schema.isControlSchema()) {
    @let schemaValue = schema.value();
    @let isVisible = !schemaValue.isHide();

    @if (isVisible) {
      @let control = schemaValue.control;
      @let schemaMeta = schema.meta();
      @let fieldName = schemaMeta.name;
      @let fieldLabel = schemaMeta.label();
      @let fieldPlaceholder = schemaMeta.placeholder();
      @let fieldType = schemaMeta.type();
      @let blurHandler = schemaMeta.blurFn;
      @let selectOptions = schemaMeta.options();

      @switch (fieldType) {
        @case ('input') {
          <ui-old-input
            [formControl]="control"
            [name]="fieldName"
            [label]="fieldLabel"
            [placeholder]="fieldPlaceholder"
            (blurEvent)="blurHandler(control.value)"
          />
        }
        @case ('checkbox') {
          <ui-old-checkbox [formControl]="control" [name]="fieldName" [label]="fieldLabel" />
        }
        @case ('date') {
          <ui-old-datepicker
            [formControl]="control"
            [name]="fieldName"
            [label]="fieldLabel"
            [placeholder]="fieldPlaceholder"
            (blurEvent)="blurHandler(control.value)"
          />
        }
        @case ('select') {
          <ui-old-select
            [formControl]="control"
            [name]="fieldName"
            [label]="fieldLabel"
            [placeholder]="fieldPlaceholder"
            [options]="selectOptions"
          />
        }
      }
    }
  }

  @if (schema.isGroupSchema()) {
    <div class="nested-form-group">
      <app-form-field-list [schema]="schema" />
    </div>
  }
}
