input {
  padding: 0px;
  border: none;
  outline: none;
}

.input-field {
  min-width: 180px;
}

.input-field-main .input-field-label {
  position: absolute;
  top: 4px;
}

.input-field-main {
  border-radius: 6px;
  border: 1px solid gray;
  position: relative;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

:host.ng-invalid.ng-touched .input-field-main {
  border-color: red;
}

:host.ng-invalid.ng-touched .input-field-label {
  color: red;
}
:host.ng-invalid.ng-touched input::placeholder {
  color: red;
}

.input-field-errors {
  margin-top: 4px;
  font-size: 12px;
}

:host.ui-disabled .input-field-main {
  background-color: rgb(239, 239, 239);
}

:host.ui-disabled input {
  background-color: rgb(239, 239, 239);
}
